In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Travel.csv")

In [3]:
dataset

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [4]:
dataset["NumberOfTrips"].fillna(0,inplace=True)

In [5]:
dataset["Age"].fillna(dataset["Age"].mean(),inplace=True)

In [6]:
dataset["DurationOfPitch"].fillna(dataset["DurationOfPitch"].median(),inplace=True)

In [7]:
dataset["NumberOfFollowups"].fillna(dataset["NumberOfFollowups"].median(),inplace=True)

In [8]:
dataset["PreferredPropertyStar"].fillna(dataset["PreferredPropertyStar"].mean(),inplace=True)

In [9]:
dataset["NumberOfChildrenVisiting"].fillna(dataset["NumberOfChildrenVisiting"].mean(),inplace=True)

In [10]:
dataset["MonthlyIncome"].fillna(0,inplace=True)
dataset["TypeofContact"].fillna('Nil',inplace=True)

In [11]:
dataset.isna().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [12]:
from scipy.stats import ttest_ind
income=dataset[dataset["MonthlyIncome"]>20000]["NumberOfTrips"]
male=dataset[dataset["Gender"]=='Male']["NumberOfTrips"]
ttest_ind(income,male)

Ttest_indResult(statistic=4.24334596608824, pvalue=2.2325867002367385e-05)

In [13]:
#here the t-test value or p-value is 200% which is not a acceptable one

In [14]:
#if the P-value>0.05 then Null hypothesis is rejected and Alternative hypothesis get accepted
# so, here the Alternative hypothesis is aceepted and Null hypothesis is rejected

In [15]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [16]:
df = pd.DataFrame(dataset)

In [17]:
model = ols('NumberOfTrips ~ C(MonthlyIncome) + C(Age) + C(MonthlyIncome):C(Age)', data=dataset).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

MemoryError: Unable to allocate array with shape (111420, 111420) and data type float64