In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("Placement.csv")

In [6]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [7]:
dataset["salary"].fillna(0,inplace=True)

In [8]:
dataset.drop("sl_no", inplace=True, axis=1)

In [9]:
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [10]:
dataset[dataset["gender"]=='M']["salary"]

0      270000.0
1      200000.0
2      250000.0
3           0.0
4      425000.0
         ...
209    216000.0
210    400000.0
211    275000.0
212    295000.0
214         0.0
Name: salary, Length: 139, dtype: float64

In [12]:
from scipy.stats import ttest_ind
#dataset=dataset.dropna()
male=dataset[dataset["gender"]=='M']["salary"]
female=dataset[dataset["gender"]=='F']["salary"]
ttest_ind(male,female)

Ttest_indResult(statistic=2.1103433958668765, pvalue=0.03599560646745178)

In [14]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male=dataset[dataset["gender"]=='M']["ssc_p"]
male1=dataset[dataset["gender"]=='M']["hsc_p"]
ttest_ind(male,male1)

Ttest_indResult(statistic=0.462536606114424, pvalue=0.6440609938866582)

In [15]:
from scipy.stats import ttest_ind
#dataset=dataset.dropna()
commerce=dataset[dataset["hsc_s"]=='Commerce']["mba_p"]
science=dataset[dataset["hsc_s"]=='Science']["mba_p"]
ttest_ind(commerce,science)

Ttest_indResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314)

In [ ]:
#here the t-test value or p-value is 49% which is not a acceptable one